BasedOnStyle: WebKit
AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: false
IndentCaseBlocks: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SortIncludes: false
SpaceBeforeCpp11BracedList: false
Standard: Latest
AlignConsecutiveAssignments: true
#AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortLambdasOnASingleLine: None
AlignOperands: true
#Cpp11BracedListStyle: true
UseCRLF: false
UseTab: Never
#ColumnLimit: 120
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100000
